
program/bin/Debug/net8.0/Starter.dll
program/bin/Debug/net8.0/Starter.dll
program/bin/Debug/net8.0/Starter.exe
program/bin/Debug/net8.0/Starter.pdb
program/obj/Debug/net8.0/apphost.exe
program/obj/Debug/net8.0/ref/Starter.dll
program/obj/Debug/net8.0/refint/Starter.dll
program/obj/Debug/net8.0/Starter.AssemblyInfo.cs
program/obj/Debug/net8.0/Starter.AssemblyInfoInputs.cache
program/obj/Debug/net8.0/Starter.dll
program/obj/Debug/net8.0/Starter.pdb
program/obj/Debug/net8.0/Starter.sourcelink.json
program/bin/Debug/net8.0/Starter.dll
program/bin/Debug/net8.0/Starter.exe
program/bin/Debug/net8.0/Starter.pdb
program/obj/Debug/net8.0/apphost.exe
program/obj/Debug/net8.0/ref/Starter.dll
program/obj/Debug/net8.0/refint/Starter.dll
program/obj/Debug/net8.0/Starter.AssemblyInfo.cs
program/obj/Debug/net8.0/Starter.AssemblyInfoInputs.cache
program/obj/Debug/net8.0/Starter.dll
program/obj/Debug/net8.0/Starter.pdb
program/obj/Debug/net8.0/Starter.sourcelink.json
program/bin/Debug/net8.0/Starter.dll
program/bin/Debug/net8.0/Starter.dll
